@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;700&display=swap');

:root {

    --font-family: 'Lexend Deca', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --gray-1: #333333;
    --gray-2: #4f4f4f;
    --gray-3: #828282;
    --gray-4: #BDBDBD;
    --gray-5: #E0E0E0;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: var(--gray-3);
}

.container {
    width: 100%;
    background-color: var(--gray-5);
    box-shadow: 0px 6px 10px 11px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
    position: relative;
}

.header__img {
    display: flex;
    justify-content: center;
}

.socials {
    display: flex;
    justify-content: center;
}

.socials img {
    width: 2.25rem;
}

.profile_contact,
.profile_location,
.profile_email,
.profile_date {
    display: flex;
    gap: 1.5rem;
    line-height: 1px;
    align-items: center;
}

.profile__details p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 0.5rem;
}

.profile_email {
    word-break: break-all;
}

.profile__details img {
    width: 1.8rem;
}

.profile__details p {
    line-height: 1.2rem;
}

.container__body {
    display: flex;
    flex-direction: column-reverse;
}

.about_me p {
    text-align: center;
}

.experience_jobs {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1.5rem;
}

.experience_jobs img {
    width: 1.5rem;
}

.skills {
    padding-bottom: 1.5rem;
}

.skills_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.languages {
    padding-bottom: 1.5rem;
}

.languages_info {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

progress {
    height: 20px;
    width: 100px;
    background: var(--gray-4);

}

::-webkit-progress-value {
    background-color: var(--gray-2);
}

::-moz-progress-bar {
    background-color: var(--gray-2);
}

.education {
    padding-bottom: 1.5rem;
}

.education_details h5 {
    text-align: left;
}

.education_details p {
    text-align: center;
    line-height: 1.5rem;
}

.education_details h5 {
    text-align: center;
    line-height: 16px;
}

.hobbies {
    padding-bottom: 1.5rem;
}

.hobbies_icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hobbies_icons img {
    display: flex;
    align-items: center;
    width: 2.5rem;
}



/* TABLET */

@media screen and (min-width: 560px) {

    .container {
        width: 100%;
        background-color: var(--gray-5);
        margin: 1.5rem 1.5rem 68px 1.5rem;
        box-shadow: 0px 6px 10px 11px rgba(0, 0, 0, 0.25);
        padding: 53px 45px 57px 55px;
        position: relative;
    }

    .header__img {
        display: flex;
        justify-content: center;
    }

    .header__name {
        font-size: 2rem;
    }

    .header__job {
        font-size: 1.5rem;
    }

    .profile__details img {
        width: 24px;
        height: 24px;
    }

    .profile__info_left {
        width: 100%;
    }

    .socials {
        display: flex;
        justify-content: center;
    }

    .socials img {
        width: 2.25rem;
    }

    .profile_contact,
    .profile_location,
    .profile_email,
    .profile_date {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1.5rem;
    }

    .profile__details {
        padding: 1.5rem 0 1.5rem 0;
    }

    .profile__details p {
        line-height: 1.2rem;
    }

    .container__body {
        display: flex;
        flex-direction: column-reverse;
    }

    .skills {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .skills_info {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .skills_info img {
        width: 1.25rem;
    }

    .languages {
        padding-bottom: 1.5rem;
    }

    .languages_info {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    progress {
        height: 20px;
        width: 100px;
        background: var(--gray-4);
    }

    ::-webkit-progress-value {
        background-color: var(--gray-2);
    }

    ::-moz-progress-bar {
        background-color: var(--gray-2);
    }

    .education {
        padding-bottom: 1.5rem;
    }

    .education_details h5 {
        text-align: left;
    }

    .education_details p {
        text-align: center;
        line-height: 1.5rem;
    }

    .education_details h5 {
        text-align: center;
        line-height: 16px;
    }

    .hobbies {
        padding-bottom: 1.5rem;
    }

    .hobbies_icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .hobbies_icons img {
        display: flex;
        align-items: center;
        width: 2.5rem;
    }

    .about_me {
        padding-bottom: 1.5rem;
    }

    .about_me p {
        text-align: left;
    }

    .experience {
        padding-bottom: 1.5rem;
    }

    .experience_jobs {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .experience_jobs img {
        width: 1.5rem;
    }

}

/* DESKTOP */

@media screen and (min-width: 840px) {
    .container {
        width: 100%;
        max-width: 840px;
        background-color: var(--gray-5);
        margin: 4rem 0 68px 0;
        box-shadow: 0px 6px 10px 11px rgba(0, 0, 0, 0.25);
        padding: 53px 45px 57px 55px;
        position: relative;
    }

    .container__header {
        display: flex;
    }

    .profile__details img {
        width: 24px;
        height: 24px;
    }

    .header__details {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .profile__info {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: 2px solid var(--gray-2);
    }

    .profile__info_left {
        width: 38%;
        border-right: 2px solid var(--gray-2);
        display: flex;
    }

    .socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile__info_right {
        width: 60%;
    }

    .profile__details {
        padding: 1rem;
        line-height: 0.5rem;
    }

    .profile__details p {
        line-height: 1.2rem;
    }

    .container__body {
        display: flex;
        flex-direction: row;
    }

    .left__container {
        width: 38%;
        border-right: 2px solid var(--gray-2);
        padding: 0 1.5rem 0 0;
    }

    .skills_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 16px;
        line-height: 0.2rem;
    }

    .languages_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 16px;
        line-height: 1.5rem;
    }

    progress {
        height: 10px;
        width: 72px;
        background: var(--gray-4);
    }

    ::-webkit-progress-value {
        background-color: var(--gray-2);
    }

    ::-moz-progress-bar {
        background-color: var(--gray-2);
    }

    .education_details p {
        line-height: 1.5rem;
        text-align: center;
    }

    .hobbies_icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .right__container {
        width: 60%;
        overflow: hidden;
    }

    .right__container_content {
        margin: 18px 0 0 18px;
        height: 100%;
        background-color: var(--gray-4);
    }

    .about_me {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .about_me h3 {
        display: flex;
        margin-top: 0;
    }

    .about_me p {
        line-height: 1.8rem;
        text-align: left;
    }

    .experience {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        line-height: 1.8rem;
    }

    .experience h3 {
        display: flex;
    }

    .experience_jobs {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .experience_jobs img {
        width: 16px;
        height: 16px;
    }

    #myBtn:hover {
        background-color: var(--gray-2);
        color: var(--gray-5);
    }

}

@media screen and (min-width: 1200px) {
    .container {
        width: 80%;
        background-color: var(--gray-5);
        margin: 4rem 0 68px 0;
        box-shadow: 0px 6px 10px 11px rgba(0, 0, 0, 0.25);
        padding: 53px 45px 57px 55px;
        position: relative;
    }
}

.experience_jobs h5 {
    line-height: 0;
}

.languages_info {
    flex-wrap: wrap;
}

.languages_info h4 {
    width: 148px;
}

/* FONTS */

h1,
h2,
h3,
h4,
h5,
p {
    font-family: var(--font-family);
}

h1 {
    font-weight: var(--fw-bold);
    font-size: 3rem;
    line-height: 50px;
    text-align: center;
    color: var(--gray-2);
}

h2 {
    font-weight: var(--fw-bold);
    font-size: 2rem;
    line-height: 30px;
    text-align: center;
    color: var(--gray-3);
}

h3 {
    font-weight: var(--fw-medium);
    font-size: 1.8rem;
    color: var(--gray-2);
    text-align: center;
}

h4 {
    font-weight: var(--fw-regular);
    font-size: 1.5rem;
    line-height: 1px;
    color: var(--gray-3);
    text-align: left;
}

h5 {
    font-weight: var(--fw-regular);
    font-size: 1.5rem;
    line-height: 1px;
    text-align: center;
    color: var(--gray-2);
}

p {
    font-weight: var(--fw-regular);
    font-size: 1.2rem;
    color: var(--gray-3);
}


/* BUTTON LANGUAGE */

.btn__language {
    position: absolute;
    right: 25px;
    top: 5px;
}

.btn__language input {
    position: absolute;
    right: 25px;
    top: 5px;
    opacity: 0;
    width: 0;
    height: 0;
}

.btn__language .PTEN {
    color: var(--gray-2);
    font-size: 24px;
    text-align: center;
    display: block;
    font-family: var(--font-family);
    font-weight: var(--fw-bold);
}

.slider {
    position: relative;
    display: block;
    cursor: pointer;
    background-color: var(--gray-4);
    border: 1px solid var(--gray-2);

    transition: 0.4s;
    width: 60px;
    height: 30px;
}

.slider::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--gray-2);

    transition: 0.4s;
    top: 4px;
    left: 4px;
}

input:checked+.slider::before {
    transform: translateX(30px);
}

.slider.round {
    border-radius: 1.5rem;
}

.slider.round::before {
    border-radius: 1.5rem;
}


/* BUtton Top */

#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}


.scrolltop {
    width: 25px;
    height: 25px;
}

button {
    all: unset;
    cursor: pointer;
}

#email {
    cursor: pointer;
}

#email:hover {
    background-color: var(--gray-2);
    color: var(--gray-5);
    padding: 0.1rem 0.5rem;
    border-radius: 1.5rem;
}

.hobbies_icons a {
    cursor: auto;
}

.socials img:hover {
    background: var(--gray-3);
    border-radius: 1rem;
    padding: 0.2rem;
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}